<ion-header>
  <ion-navbar>
    <ion-title>
      Location
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <!-- <ion-item>
  <ion-label>Contacts</ion-label>
  <ion-select [(ngModel)]="selectedContact" *ngFor="let user of allUsers">
    <ion-option value="user.$key">{{ user.firstname }} {{ user.lastname }}</ion-option>
  </ion-select>
</ion-item> -->
  <ion-row>
    <ion-col>
       <!-- <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select [(ngModel)]="gender">
          <ion-option value="f">Female</ion-option>
          <ion-option value="m">Male</ion-option>
        </ion-select>
      </ion-item>  -->
      <ion-item>
        <ion-label>Contacts</ion-label>
        <ion-select [(ngModel)]="selectedContact">
          <ion-option *ngFor="let user of allUsers" [value]="user">{{ user.firstname }} {{ user.lastname }}</ion-option>
        </ion-select>
      </ion-item> 
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button block round color="secondary" (click)="selected()"> Search </button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="notFound">
    <ion-col>
      Location not Found
    </ion-col>
  </ion-row>
  <div #map id="map" style="height:100%;"></div>
</ion-content>
