page-register { 
 
    .header_Div{
        text-align: center;
        color: white
    }
    .btn_Register{
        background: #ed1f44;
        border-radius: 8px;
        width: 90% !important;
        display: block;
        color: white;
        font-size: 13px;
        padding: 12px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .yi-monkey-top {
        width: 12%;
    }

}