<ion-header>
  <ion-navbar color="headerColor">
    <ion-title align="center">Register Here</ion-title> 

    <ion-buttons right>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="registrationForm" (ngSubmit)="registrationForm.valid && register(registrationForm.value)" novalidate>
    <ion-list>
      <ion-item [class.error]="!registrationForm.controls.firstname.valid && registrationForm.controls.firstname.touched">
        <ion-label floating>
          FIRST NAME
        </ion-label>
        <ion-input type="text" formControlName="firstname"></ion-input>
      </ion-item>
      
      <ion-item [class.error]="!registrationForm.controls.lastname.valid && registrationForm.controls.lastname.touched">
        <ion-label floating>
          LAST NAME
        </ion-label>
        <ion-input type="text" formControlName="lastname"></ion-input>
      </ion-item>

      <ion-item [class.error]="!registrationForm.controls.email.valid && registrationForm.controls.email.touched">
        <ion-label floating>
          EMAIL
        </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item [class.error]="!registrationForm.controls.password.valid && registrationForm.controls.password.touched">
        <ion-label floating>
          PASSWORD
        </ion-label>
        <ion-input type="password" formControlName="password" minlength="6"></ion-input>
      </ion-item>

      <ion-item [class.error]="registrationForm.hasError('mismatchedPasswords') && registrationForm.controls.confirmPassword.touched || (!registrationForm.controls.password.valid && registrationForm.controls.confirmPassword.touched)">
        <ion-label floating>
          CONFIRM PASSWORD
        </ion-label>
        <ion-input type="password" formControlName="confirmPassword" minlength="6"></ion-input>
      </ion-item>

      <ion-item [class.error]="!registrationForm.controls.phone_number.valid && registrationForm.controls.phone_number.touched">
        <ion-label floating>
          MOBILE NUMBER
        </ion-label>
        <ion-input type="text" formControlName="phone_number" maxlength="10"></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button large block color="secondary" type="submit" [disabled]='!registrationForm.valid'>Submit</button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
