<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="SOS" tabIcon=""></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Location" tabIcon="locate"></ion-tab>
</ion-tabs>
