<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>List of All Users</ion-list-header>
    <ion-item>
      <ion-row *ngFor="let user of allUsers">
        <ion-col>
          <ion-icon name="person" item-left></ion-icon>
          {{ user.firstname }} {{ user.lastname }}
        </ion-col>
        <ion-col class="align-right">
          <button ion-button color="light" (click)="selected(user, true)"> Select </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="noContactToShow">
        <ion-col>
          No Contacts To Show          
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row *ngFor="let user of selectedUsers">
        <ion-col>
          <ion-icon name="person" item-left></ion-icon>
          {{ users[user.$key].firstname }} {{ users[user.$key].lastname }}
        </ion-col>
        <ion-col class="align-right">
          <button ion-button color="dark" (click)="selected(user, null)"> Deselect </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
