<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button class="sos_button" ion-button block (click)="sendMessage()">SOS</button>
</ion-content>

<ion-footer>
  <button ion-button block full color="primary" (click)="logout()">Logout</button>
</ion-footer>