page-home {
  .sos_button {
    text-align: center;
    font-size: 50px;
    height: 300px;
    color: #fff;
    background-color: #ff1a1a;
    border: none;
    border-radius: 50%;
    box-shadow: 0 10px #800000;
    margin-top: 30%;
  }
}
