page-activator {
  .sos_button {
    text-align: center;
    font-size: 400%;
    height: 40px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    // color: #fff;
    // background-color: #ff1a1a;
    border: none;
    // border-radius: 50%;
    // box-shadow: 0 10px #800000;
    margin-top: 30%;
  }
}
